.home_container {
  text-align: center;
  color: #b0b3b8;
  margin-top: 1.5rem;
}

.home_container > h1 {
  font-size: 42px;
  margin-bottom: 2rem;
  font-weight: 500;
}

.home_small_text {
  font-size: 22px !important;
  font-weight: 300;
  letter-spacing: 3px;
}

.home_gradient_text {
  font-size: 42px;
  background: -webkit-linear-gradient(#90cea1, #01b4e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_cards_container {
  display: flex;
}
